In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [135]:
covid_df_raw = pd.read_csv('ultimas_atualizacoes.csv', dtype={'codigo_ibge':np.str})

In [136]:
frigorificos_df_raw = pd.read_csv('frigorificos.csv')

In [137]:
frigorificos_df_raw = frigorificos_df_raw.replace('sim',1)

In [138]:
frigorificos_df_raw['nome_com_uf'] = frigorificos_df_raw['city']

In [139]:
frigorificos_df_raw = frigorificos_df_raw.groupby(['nome_com_uf']).sum()

In [140]:
frigorificos_df_raw.head()

                            frigorifico
nome_com_uf
ABELARDO LUZ (SC)                     1
AGUIARNÓPOLIS (TO)                    1
ALEGRETE (RS)                         1
ALTA FLORESTA (MT)                    1
ALTA FLORESTA D'OESTE (RO)            1

In [141]:
covid_df_raw.head()

,date,cases,deaths,casesNew,deathsNew,casesPer100K,deathsPer100K,dias,codigo_ibge,nome,nome_com_uf
0,2020-06-18,59,0,5,0,257.136631,0.000000,48.0,110001,Alta Floresta D'Oeste (RO),ALTA FLORESTA D'OESTE (RO)
1,2020-06-18,817,14,0,1,757.442311,12.979428,70.0,110002,Ariquemes (RO),ARIQUEMES (RO)
2,2020-06-18,3,0,0,0,56.475904,0.000000,15.0,110003,Cabixi (RO),CABIXI (RO)
3,2020-06-18,191,2,0,0,223.760822,2.343045,50.0,110004,Cacoal (RO),CACOAL (RO)
4,2020-06-18,24,2,6,0,147.031796,12.252650,27.0,110005,Cerejeiras (RO),CEREJEIRAS (RO)

In [142]:
ultimas_atualizacoes = pd.merge(covid_df_raw, frigorificos_df_raw, on='nome_com_uf', how='outer')

In [145]:
ultimas_atualizacoes.replace(np.nan, 0, inplace=True)

In [146]:
ultimas_atualizacoes.to_csv('ultimas_atualizacoes_com_frigorifico.csv')